<% provide(:title, @blog.title) %>
<h1><%= @blog.title %></h1>
<h4>By <%= @blog.user.email %>, <%= time_ago_in_words(@blog.created_at) %> ago</h4>
<pre style="background-color:#353A38; color: #FFF">
  <%= @blog.content %>
</pre>
<%= link_to 'Back', user_path(@blog.user), class: "btn btn-info" %>
<% if by_me?(@blog) %>
  <%= link_to 'Destroy', user_blog_path(current_user, @blog),  method: :delete, class: "btn btn-danger" %>
<% end %>


